.home {
  margin:2rem;
  display: flex;
  flex-direction: column;
  @media @mobile{
    max-width: 500px;
    align-items: center;
  }
  @media @tablet{
    max-width: 650px;
  }
  header {
    background-image: url(../images/pic05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
    
    @media @mobile{
      flex-direction: column;
      align-items: center;
      padding: 20%;
      width: 100%;
      margin-left: 0rem;
     }
     @media @tablet{
       flex-direction: column;
       align-items: center;
     }
    .logo{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
   
}

.topcontent{
  display: flex;
  padding: 3%;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px dashed @border-color;
  @media @mobile{
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    }
    @media @tablet{
      flex-direction: column-reverse;
    }
  img{
    @media @mobile{
      display:none;
    }
  }
  .login{
    width: 30rem;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 1%;
}
.login .loginbtn{
    .signup();
    width:50%;
}
  }

.middlecontent{
  display:flex;
  flex-direction: row-reverse;
  
  justify-content: space-around;
  padding: 3%;
  align-items: center;
  border-bottom: 2px dashed @border-color;
  @media @mobile{
    flex-direction:column;
    margin-left: 0;
  }
  @media @tablet{
    flex-direction: column-reverse;
}
}
.bottomcontent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:3%;
  border-bottom: 2px dashed @border-color;
  @media @mobile{
  flex-direction: column;
  align-items: center;
  }
  .kidwalking{
    @media @tablet{
      display:none;
    }
  }
  .kids{
    @media @mobile{
      display:none;
    }
    @media @tablet{
      display:none;
    }
  }
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}//*End Body
.mission{
  align-items: end;
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 3%;
  @media @mobile{
    align-items: center;
    margin-left: 0rem;
    width:85%;
  }
  @media @tablet{
    width:94%;
    align-items: center;
  }
  h3{
    margin-bottom: 2rem;
    font-size: -webkit-xxx-large;
  }
}
.local{
  display: flex;
  flex-direction: column;
  width:32%;
  margin-bottom: 3%;
  h3{
    font-size: -webkit-xxx-large;
    width: 70%;
    @media @mobile{
      width:100%;
    }
    
  }
  a{
    .signup();
    width: 96%;
    @media @tablet{
      margin-right:0%;
      margin-botton:3%;
    }
  }
  @media @mobile{
    width:100%;
  }
  @media @tablet{
    width:100%;
    align-items: center;
  }

 
  }

.Getinvolved{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-left:2%;
  @media @mobile{
    width:100%;
    padding:2%;
  }
  @media @tablet{
    width:100%;
  }
  
a{
  .signup;
   width: 74%;
   margin-top: 4%;
   font-size: large;
   padding:5%;
   @media @mobile{
     .mobilebutton;
     font-size: x-large;
     width:100%;
     padding:4%;
   }

}
}
.aboutHome{
  margin:2rem;
  display: flex;
  flex-direction: column;
  header {
    background-image: url(../images/bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
    .logo{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
}
}
.aboutHome {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:5%;
  }
}
.aboutHome header {
  background-image: url(../images/pic05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: none;
}
.aboutHome header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContent{
  display:flex;
  flex-direction: row;
  background-image: url(../images/pic06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

}
.topContent .introtxt{
  display: flex;
    flex-direction: column;
    width: 73%;
    align-items: center;
    background-color: white;
    padding: 1%;
    border-bottom: 2px dashed @border-color;

    
}
.topContent .introtxt h3{
  font-size: -webkit-xxx-large;
  margin-bottom:1%;
}
.employees{
  display:flex;
  flex-direction: column;
    align-items: center;
  background-image: url(../images/pic06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  .ceo{
    display: flex;
    flex-direction: row;
    width: 73%;
    align-items: center;
    background-color: white;
    border-bottom: 2px dashed @border-color;
  }
  .jeff{
    display: flex;
    flex-direction: row-reverse;
    width: 73%;
    align-items: center;
    background-color: white;
    border-bottom: 2px dashed @border-color;
  }
  .kevin{
    display: flex;
    flex-direction: row;
    width: 73%;
    align-items: center;
    background-color: white;
    border-bottom: 2px dashed @border-color;
  }
  .Karen{
    display: flex;
    flex-direction: row-reverse;
    width: 73%;
    align-items: center;
    background-color: white;
    border-bottom: 2px dashed @border-color;
  }
  
}