// Mixins in here

.signup(){
  display: flex;
  justify-content: center;
  background-color: @border-color;
  margin-left: 0%;
  margin-right: 4%;
  padding: 1%;
  border: 1px solid @border-color;
  border-radius: 3px;
  text-decoration: none;
  font-size: 100%;
  color: white;
  margin-top:3%;
}

.mobilebutton(){
    display: flex;
    justify-content: center;
    background-color: #17A2B8;
    width: 55%;
    margin-left: 25%;
    padding: 0;
    border: 1px solid #17A2B8;
    border-radius: 3px;
}